@import "@/../../../../assets/scss/_colors.scss";
@import "@/../../../../assets/scss/_default.scss";

.details{

    .header{
        height: 70px;
        .bot-img{
            border-radius: 100%;
            height: 55px;
            width: 55px; 
            display: block;
            float: left;
        }        
        .bot-name{
            font-weight: bold;
            color: $titleColor;
            display: block;
            float: left;
            margin: 11px            

        }
        .bot-date{        
            color: $titleColor;    
            font-size: 12px;
            display: block;
            float: right;
            margin-top: 25px;
        }  
        .bot-id{        
            color: $titleColor;    
            font-size: 12px;
            position: relative;
            top: 50px;
            left: 70px;
            width: 125px;
        }               
    }
    .box-local,  .box-actived-user,  .box-msg-receveid,  .box-msg-sent{
        background-color: $whiteColor;
        box-shadow:0 1px 15px 1px rgba(69,65,78,.1);
        height: 200px;
        border-radius: 10px;
        margin: 8px;
        .box-img{
            float: left;
            width: 65px;
            margin: 75px auto;
            @media (max-width:1024px) { 
                margin: 75px 0 0 50px;
            }
        }
        .box-text{
            float: left;
            margin: 75px 20px;
            p{
                margin-top: 5px;
                font-size: 12px;
            }

        }        
    }

    .box-local{
        color: $titleColor; 
        font-size: 13px;
        text-align: left;
        padding: 55px;
        .bold{
            font-weight: bold;
        }
        p{
            padding: 5px 0;
        }
    }

    .box-actived-user, .box-msg-receveid, .box-msg-sent{
        img{
            background-color: $btnColor;
            border-radius: 100%;
            padding: 10px;
            display: block;
            float: right;
            margin: auto;
            width: 50px;
            height: 50px;            

        }
        .title{
            color: $titleColor; 
            font-size: 26px;
            font-weight: bold;

        }
        .subtitle{
            color: $subtitleColor; 
            font-size: 12px;
            font-weight: bold;
          
        }        
    }

    .box-msg-receveid{
        img{
            background-color: #4dcb7b;
        }
    } 
    
    .box-msg-sent{
        img{
            background-color: #517bf2;
        }
    }

    .box-status-account{
        @media (min-width:1025px) { 
            flex: 0 0 22%;
            max-width: 22%;  
            margin-top: -209px;
        }
        @media (max-width:1024px) { 
            margin: 0 auto;
        }

        .title{
            color: $titleColor; 
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;

        }

        .subtitle{
            color: $subtitleColor; 
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            
        }        
            img{
                margin: 0 auto;
                width: 244px;
                display: block;                
            }
        .btn{
            margin: 0 auto;
            width: 135px;
            display: block;
        }

    }
}