@import "@/../../../assets/scss/_colors.scss";
@import "@/../../../assets/scss/_default.scss";

.list-bot{

    .card-bot-item{
        
        .favorite-icon{
            position: relative;
            left: 10px;
            top: 10px;
            cursor: pointer;
        }        
        a{
            display: block;
            margin: 0 auto;
            width: 75px;     
        }
        .bot-img{
            border-radius: 100%;
            height: 75px;
            width: 75px;        
        }
        .bot-name{
            margin: 15px auto;
            text-align: center;
            font-weight: bold;
            color: $titleColor;
        }
        .bot-date{
            margin: 5px auto;
            text-align: center;           
            color: $titleColor;    
            font-size: 12px;;       
        }
    }
    @media (min-width:1025px) { 
        .list-bot-item{        
            .favorite-icon{
                display: block;
                float: left;
                position: relative;
                top: 27px;
                left: -65px;
                cursor: pointer;
            }                       
            a{
                display: block;
                float: left;
                margin: 10px auto;
            }
            .bot-img{
                border-radius: 100%;
                height: 55px;
                width: 55px; 
                display: block;
            }
            .bot-name{
                font-weight: bold;
                color: $titleColor;
                float: left;
                margin: 30px;
            }
            .bot-date{        
                color: $titleColor;    
                font-size: 12px;
                float: right;  
                margin: 30px;  
            }         
        }
    }
    @media (max-width:1024px) { 
        .list-bot-item{        
            .favorite-icon{
                display: block;
                float: left;
                position: relative;
                top: 27px;
                left: -30px;
                cursor: pointer;
            }                       
            a{
                display: block;
                float: left;
                margin: 10px auto;
            }
            .bot-img{
                border-radius: 100%;
                height: 55px;
                width: 55px; 
                display: block;
            }
            .bot-name{
                font-weight: bold;
                color: $titleColor;
                float: left;
                margin: 30px 10px;
                font-size: 12px;
            }
            .bot-date{        
                color: $titleColor;    
                font-size: 10px;
                float: right;  
                margin: 30px 10px; 
                font-size: 10px; 
            }         
        }
    }    
    .line{
        width: 100%;
        border-bottom: 2px solid $subtitleColor;
        margin: 40px 0;
    }
}