@import "@/../assets/scss/_reset.scss";
@import "@/../assets/scss/_colors.scss";


@media (min-width:1025px) {
    body{
        background-color: $bgColor;
        .container{
            margin: 40px 60px;
        }                
    }
}
@media (max-width: 1024px){
    body{
        background-color: $bgColor;
        .container{
            margin: 40px 30px;
        }                
    }
}
